*{
  padding: 0;
  margin: 0;
}
header{
  
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 80%;
  background-color: blue;
  /* padding: 40px; */
}

aside{
  float:right;
  background-color: yellow;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 20%;
  /* padding: 20px; */
}

article{
  margin: 10px 0;
}

main{
  font-family: Helvetica;
}

body{
  background-color: blueviolet;
}